/**
 * Header component
 *
 * Styling for:
 * .header
 * .header-menu
 */
@import '../../assets/styles/include';

:host {
	overflow: hidden;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 110px;

	@include mobile() {
		height: 80px;
	}

	&--dark {
		background: $c_dark_grey;
	}

	&__inner {
		width: 90%;
		height: 100%;
		max-width: 1170px;
		margin: 0 auto;
		/** Flex */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 25px;
	}
}

.header-menu {
	&__list {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__list-item {
		list-style-type: none;
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__icon {
		width: auto;
		height: 18px;
		margin-right: 10px;

		@include mobile() {
			margin-right: 0;
		}
	}

	&__label {
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;

		@include mobile() {
			display: none;
		}
	}
}