/**
 * Header component
 *
 * Styling for:
 * .header
 * .header-menu
 */

.header {
	width: 100%;
	height: 110px;

	&__inner {
		width: 90%;
		height: 100%;
		max-width: 1170px;
		margin: 0 auto;
		/** Flex */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		height: 25px;
	}
}

.header-menu {
	&__list {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__list-item {
		list-style-type: none;
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__icon {
		width: auto;
		height: 18px;
		margin-right: 10px;
	}

	&__label {
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
	}
}