@import '../../assets/styles/include';

.featured-products {
	@extend .outer;

	&__inner {
		@extend .inner;
		/** Flex */
		display: flex;
		justify-content: space-between;

		@include mobile() {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
}