@import '../../assets/styles/include';

.text-island {
	@extend .outer;

	&__inner {
		@extend .inner;
		text-align: center;
		max-width: 900px;

		@include mobile() {
			text-align: left;
		}
	}

	&__title {
		position: relative;
		font-size: $hs_xlarge;
		font-weight: 700;
		letter-spacing: 6px;
		color: $c_dark_grey;
		margin-bottom: 65px;

		@include mobile() {
			font-size: $hs_m_xlarge;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -32.5px;
			left: 50%;
			transform: translateX(-50%);
			width: 80px;
			height: 5px;
			background: $c_primary;

			@include mobile() {
				left: 0;
				transform: none;
			}
		}
	}

	&__text {
		font-size: $ps_large;
		line-height: 1.6;
		color: $c_grey;
	}
}