@import '../../assets/styles/include';

:host {
  background: #fff;
  color: #fff;
  position: fixed;
  left: auto;
  top: 0;
  right: -270px;
  bottom: 0;
  width: 270px;
  z-index: 9999;
  box-shadow: -10px 0px 50px 0px rgba(0,0,0,0.35);
  padding: 120px 50px;
}

.menu {
  width: 100%;
  &__item {
    margin-bottom: 35px;

    a {
      font-size: $ps_large;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: $c_dark_grey;
      transition: color .3s;

      &:hover {
        color: $c_primary;
      }
    }
  }
}