<div class="promotion-circle">
	<div class="promotion-circle__background">
		<div class="promotion-circle__overlay"></div>
		<img src="{{ image }}" class="promotion-circle__image">
	</div>
	<div class="promotion-circle__inner">
		<span class="promotion-circle__big-text">{{ beforeText }}</span>
		<div class="promotion-circle__circle">
			<span class="promotion-circle__label">Get</span>
			<span class="promotion-circle__value">{{ value }}</span>
			<span class="promotion-circle__label">Off!</span>
		</div>
		<span class="promotion-circle__big-text">{{ afterText }}</span>
	</div>
</div>