/**
 * Color variables
 * 
 */

$c_primary: #33d0de;
$c_light_grey: #c5c5c5;
$c_dark_grey: #333;

/**
 * Typograpgy variables
 * 
 */

$h_font: 'Open Sans', sans-serif;
$p_font: 'Open Sans', sans-serif;

$hs_xxxlarge: 252px;
$hs_xxlarge: 100px;
$hs_xlarge: 64px;
$hs_large: 48px;
$hs_medium: 42px;
$hs_small: 36px;
$hs_xsmall: 30px;
$hs_xxsmall: 20px;
$hs_xxxsmall: 14px;