@import '../../assets/styles/include';

.text-image {
	width: 100%;
	height: 640px;
	overflow: hidden;
	/** Flex */
	display: flex;

	@include mobile() {
		flex-direction: column;
		height: auto;
	}

	&--reverse {
		flex-direction: row-reverse;

		@include mobile() {
			flex-direction: column;
		}

		.text-image__content {
			&:after {
				left: auto;
				right: 0;
			}
		}
	}

	&__image {
		width: 50%;
		height: 100%;
		background: #F3F1F6;

		@include mobile() {
			width: 100%;
			height: 400px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@include mobile() {
				object-fit: cover;
			}
		}
	}

	&__content {
		position: relative;
		width: 50%;
		height: 100%;
		padding: 65px 115px;
		max-width: 585px;
		background: $c_dark_grey;

		@include mobile() {
			width: 100%;
			height: auto;
			padding: $p_mobile;
		}

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			content: '';
			width: 1000%;
			height: 100%;
			background: $c_dark_grey;

			@include mobile() {
				display: none;
			}
		}

		&--blue {
			background: $c_primary;

			&:after {
				background: $c_primary;
			}
		}
	}

	&__title {
		font-size: $hs_small;
		font-weight: 300;
		color: #fff;
		margin-bottom: 35px;
	}

	&__text {
		font-size: $ps_medium;
		line-height: 1.6;
		color: #fff;
		margin-bottom: 35px;
	}

	&__icons {
		width: 100%;
		height: auto;
		max-width: 370px;
		margin-bottom: 50px;
		/** Flex */
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		width: 80px;
		/** flex */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-decoration: none;

		@include mobile() {
			width: 100px;
		}
	}

	&__icon-circle {
		width: 80px;
		height: 80px;
		margin-bottom: 10px;
		border: 1px solid #fff;
		border-radius: 50%;
		/** Flex */
		display: flex;
		justify-content: center;
		align-items: center;

		@include mobile() {
			width: 40px;
			height: 40px;
		}

		img {
			height: 20px;

			@include mobile() {
				height: 10px;
			}
		}
	}

	&__icon-label {
		font-size: $ps_small;
		color: #fff;
	}	
}