@import '../../assets/styles/include';

.add-to-cart {
	height: 33px;
	padding: 0 20px;
	border: 1px solid $c_dark_grey;
	text-decoration: none;
	/** flex */
	display: inline-flex;
	align-items: center;

	&:hover {
		.add-to-cart__icon {
			transform: translateX(-5px);
		}
	}

	&--blue {
		width: 100%;
		height: 50px;
		background: $c_primary;
		justify-content: center;
		border: none;
		margin-bottom: 10px;

		.add-to-cart__label {
			color: #fff;
		}
	}

	&__icon {
		height: 18px;
		margin-right: 5px;
		transition: transform .3s;
	}

	&__label {
		font-size: 12px;
		text-transform: uppercase;
		color: $c_dark_grey;
	}
}