@import '../../assets/styles/include';

.pagination {
	@extend .outer;

	&__inner {
		@extend .inner;
		height: 25px;
		/** flex */
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__number {
		width: 25px;
		height: auto;
		text-align: center;

		a {
			color: #959595;
			font-size: 12px;
			font-weight: 600;
			text-decoration: none;
			transition: all .3s;

			&:hover {
				color: $c_dark_grey;
				font-size: 20px;
			}
		}
	}
}