<div class="newsletter-box">
	<div class="newsletter-box__inner">
		<div class="newsletter-box__icon-circle">
			<img src="{{ icon }}" alt="" class="newsletter-box__icon">
		</div>
		<span class="newsletter-box__title">{{ title }}</span>
		<span class="newsletter-box__tagline">{{ tagline }}</span>
		<app-input [placeholder]="'Enter your email'" [style]="'underline'" [placeholder]="'Enter your email'"></app-input>
		<app-button [label]="'Subscribe'" [link]="'#'" [style]="'black-outline'"></app-button>
	</div>
</div>
