@import '../../assets/styles/include';

.product-list {
	@extend .outer;

	&__inner {
		@extend .inner;
		/** flex */
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 0;
		padding-bottom: 0;

		@include mobile() {
			padding-top: 65px;
		}
	}
}