@import '../../assets/styles/include';

.social-media-banner {
	@extend .outer;

	&__inner {
		@extend .inner;
		/** Flex */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		position: relative;
		font-family: $h_font;
		font-size: $hs_xxsmall;
		text-transform: uppercase;
		color: $c_dark_grey;
		margin-bottom: 40px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: -117px;
			transform: translateY(-50%);
			width: 100px;
			height: 1px;
			background: $c_dark_grey;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -117px;
			transform: translateY(-50%);
			width: 100px;
			height: 1px;
			background: $c_dark_grey;
		}
	}

	&__icons {
		width: 100%;
		height: auto;
		max-width: 700px;
		/** Flex */
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		width: 88px;
		height: 88px;
		border: 1px solid $c_light_grey;
		border-radius: 50%;
		/** Flex */
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity .3s;

		&:hover {
			opacity: 0.7;
		}

		img {
			transform: scale(0.13);
		}
	}
}