@import '../../assets/styles/include';

:host(app-button){
	display: inline-block;
}

:host-context(.newsletter-banner) {
	display: block;
	margin: 0 7.5px;
}

:host-context(.newsletter-box) {
	width: 100%;

	.button {
		@include mobile() {
			min-width: auto;
		}
	}
}

.button {
	width: 100%;
	min-width: 270px;
	height: 40px;
	border: 2px solid #fff;
	color: #fff;
	font-size: $ps_medium;
	text-decoration: none;
	text-transform: uppercase;
	/** Flex */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: letter-spacing .3s;

	@include mobile() {
		width: 100%;
	}

	&--light-grey {
		background: $c_very_light_grey;
		color: $c_dark_grey;
	}

	&--black-outline {
		border: 2px solid $c_dark_grey;
		color: $c_dark_grey;
		height: 50px;
	}

	&--size-guide {
		position: absolute;
		bottom: 108px;
		min-width: auto;
		height: 43px;
		font-size: $ps_small;
		text-transform: none;

		@include mobile() {
			position: static;
			display: inline-flex;
			padding: 0 10px;
		}
	}

	&--white {
		background: #fff;
		color: $c_dark_grey;
	}

	&:hover {
		letter-spacing: 0.8px;
	}
}