.header-menu {
	&__list {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__list-item {
		list-style-type: none;
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	&__link {
		/** Flex */
		display: flex;
		align-items: center;
	}

	&__icon {
		width: auto;
		height: 18px;
		margin-right: 10px;
	}

	&__label {
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
	}
}